:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", serif;
  --third-family: "PT Serif", serif;
  --dark-blue-background: #0d0628;
  --light-purple-gradient-start: #6a00ff;
  --light-purple-gradient-end: #b100ff;
  --header-text-grey: rgb(199, 199, 199); /* C7C7C7 */
  --text-light: #ffffff;
  --text-grey: #cccccc;
  --header-bg-color: rgb(1, 45, 99); /* header bg color  Midnight blue */
  --button-text-color: rgb(
    95,
    95,
    95
  ); /* Можливо, цей колір більше не потрібен, якщо плейсхолдер білий */
  --button-background: linear-gradient(to right, #6a00ff, #b100ff);
  --my-button-color: linear-gradient(to right, #6a00ff, #b100ff);
  --main-text-color: #ffffff;

  --input-background: #1a0846; /* Нова змінна для фону полів вводу */
  --input-border: rgba(
    255,
    255,
    255,
    0.5
  ); /* Нова змінна для обводки полів вводу */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-light);
  background-color: var(--dark-blue-background);
  line-height: 1.6;
  overflow-x: hidden;
  background-repeat: repeat;
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-family: var(--second-family);
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--text-light);
}

.main-header {
  background-color: var(--header-bg-color);
  font-family: var(--header-text-grey);
  padding: 16px 0;
  position: relative;
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  font-weight: 700;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  color: var(--text-light);
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.main-nav a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 300;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: var(--text-grey);
}

.main-nav a:active {
  color: var(--text-grey);
}

.language-select {
  padding-right: 165px;
}

.language-select a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 300;
}

.language-select a:hover {
  color: var(--text-grey);
}

.hero-section {
  background-image: url("../img/bachground-hero.jpg"),
    linear-gradient(to bottom, #0d0628 0%, #3a0e5b 100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 600px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 94px 0 182px 0px;
}

.hero-logo {
  width: 203px;
  height: 171px;
}

.hero-title {
  width: 640px;
  height: 192px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 144px;
}

.hero-subtitle {
  width: 540px;
  height: 96px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 72px;
  padding-bottom: 12px;
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 41px;
}

.hero-button {
  display: inline-block;
  background: var(--my-button-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--main-text-color);
  border-radius: 10px;
  padding: 20px 60px;
  text-decoration: none;
  margin-bottom: 183px;
  border: outset var(--light-purple-gradient-start);
}

.hero-button:hover {
  border: 2px outset var(--light-purple-gradient-end);
  transform: translateY(-2px);
}

.features-section,
.reviews-section,
.order-section,
.main-footer {
  padding: 80px 0;
  background-color: var(--dark-blue-background);
  position: relative;
  z-index: 1;
}

.features-grid {
  display: grid;
  border: solid darkorchid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  text-align: center;
  margin-top: 30px;
}

.features-section {
  background-image: url(../img/feauter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feature-item {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 15px;
}

.feature-item:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.feature-item img {
  height: 80px;
  width: auto;
}

.feature-item h3 {
  font-family: var(--font-family);
  font-size: 1.5em;
  color: var(--text-light);
}

.reviews-section {
  background-image: url(../img/rewiew-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 30px;
  justify-items: center;
}
.review-card {
  border-radius: 15px;
  width: 255px;
  height: 292px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-card:nth-child(1) {
  box-shadow: 0 30px 0 0 #533978, 0 14px 0 0 #7b54b2,
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    135deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
}

.review-card:nth-child(2) {
  box-shadow: 0 30px 0 -13px #61337c, 0 14px 0 -5px #9159b1;
  background: linear-gradient(
    135deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
}

.review-card:nth-child(3) {
  box-shadow: 0 30px 0 -13px #732f26, 0 14px 0 -5px #b95a4c;
  background: linear-gradient(
    135deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
}

.review-card p {
  font-family: var(--third-family);
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 20px;
  color: var(--text-grey);
}

.review-card h4 {
  font-family: var(--font-family);
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  color: var(--text-light);
}

.rewiew-img {
  width: 31px;
  height: 31px;
  border-radius: 100%;
  padding-right: 5px;
}

.order-section {
  background-image: url(../img/order-bachground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 50px;
  width: 580px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50px;
}

#orderEmail {
  border-radius: 50px;
  width: 690px;
  height: 60px;
}

.order-form input[type="email"],
.order-form input[type="text"] {
  width: 100%;
  padding: 15px 20px;
  border-radius: 25px;
  border: 1px solid var(--input-border);
  background-color: var(--main-text-color);
  color: var(--button-text-color);
  font-size: 1em;
}

.order-form input::placeholder {
  color: var(--text-grey);
}

.order-text-link {
  color: var(--text-grey);
  text-decoration: none;
}

.order-form button {
  background: var(--button-background);
  color: white;
  padding: 15px 30px;
  margin-bottom: 37px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.order-form button:hover {
  border: 2px outset var(--light-purple-gradient-end);
  transform: translateY(-2px);
}

.main-footer {
  background-color: #050212;
  padding: 40px 0;
  text-align: center;
  font-size: 0.9em;
  color: var(--text-grey);
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  text-align: left;
}

.footer-column.emails {
  text-align: right;
}

.footer-column:hover {
  color: var(--text-light);
}

.footer-column h3 {
  font-family: var(--font-family);
  font-size: 1.2em;
  margin-bottom: 15px;
  color: var(--text-light);
}

.footer-column p {
  margin-bottom: 8px;
  color: var(--text-grey);
}

.copyright {
  margin-top: 20px;
}

.copyright::before {
  content: "";
  color: #9b9b9b;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 20px;
}

.footer-logo img {
  height: 30px;
  margin-right: 8px;
}
